.error{
    color: red;
}
.navbar-nav>.user-menu>.dropdown-menu>a>li.user-header {
height: 175px;
padding: 10px;
text-align: center;
}
a>.user-header>img {
    z-index: 5;
    height: 90px;
    width: 90px;
}
.margin-l{
  margin-left:10px;
}
.deungang{
	vertical-align: middle!important;
}
.col-sm-12>h3{
	background: #CCC;
	padding: 10px;
}
h2{
	font-weight: bold;
	margin-top: 75px;
}